				<div id="s3credentials" class="modal fade" data-backdrop="false">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h5 class="modal-title">Your Blomp S3 Credentials</h5>
							</div>

							<div class="modal-body">
								<div class="form-group form-group-material">
									<label class="control-label">Blomp Usage</label>
									<div class="col-sm-12">
										<h5 class="no-margin text-light">S3 Key: {{ key }}</h5>
										<h5 class="no-margin text-light">S3 Secret Key: {{ secretKey }}</h5>
										<h5 class="no-margin text-light">Authentication: <a href="https://authenticate.ain.net/">https://authenticate.ain.net/</a></h5>
									</div>
								</div>
								<div class="clearall"></div>
							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>