				<div id="stats" class="modal fade" data-backdrop="false">
					<div class="modal-dialog modal-sm">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h5 class="modal-title">Your Blomp Stats</h5>
							</div>

							<div class="modal-body">
								<div class="form-group form-group-material">
									<label class="control-label">Blomp Usage</label>
									<div class="col-sm-12">
										<h5 class="no-margin text-light">Plan: {{ plan|title }}</h5>
										<h5 class="no-margin text-light">Storage Capacity: {{ capacity }} GB</h5>
										<h5 class="no-margin text-light">Used Storage: {{ used|filesizeformat }}</h5>
										<h5 class="no-margin text-light">Files: {{ files }}</h5>
									</div>
								</div>
								<div class="clearall"></div>
							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>