{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width">
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<!--[if gte IE 7]><html class="ie8plus" xmlns="http://www.w3.org/1999/xhtml"><![endif]-->
<!--[if IEMobile]><html class="ie8plus" xmlns="http://www.w3.org/1999/xhtml"><![endif]-->
<meta name="format-detection" content="telephone=no">
<meta name="generator" content="EDMdesigner, www.edmdesigner.com">
<title>Welcome to Blomp!</title>

<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">

<style type="text/css" media="screen">
* {line-height: inherit;}
.ExternalClass * { line-height: 100%; }
body, p{margin:0; padding:0; margin-bottom:0; -webkit-text-size-adjust:none; -ms-text-size-adjust:none;} img{line-height:100%; outline:none; text-decoration:none; -ms-interpolation-mode: bicubic;} a img{border: none;} a, a:link, .no-detect-local a, .appleLinks a{color:#5a2a7f !important; text-decoration: underline;} .ExternalClass {display: block !important; width:100%;} .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div { line-height: inherit; } table td {border-collapse:collapse;mso-table-lspace: 0pt; mso-table-rspace: 0pt;} .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {text-decoration: default; color: #5a2a7f !important; pointer-events: auto; cursor: default;} .no-detect a{text-decoration: none; color: #5a2a7f;
pointer-events: auto; cursor: default;} {color: #5555ff;} span {color: inherit; border-bottom: none;} span:hover { background-color: transparent; }

.nounderline {text-decoration: none !important;}
h1, h2, h3 { margin:0; padding:0; }
p {Margin: 0px !important; }

table[class="email-root-wrapper"] { width: 600px !important; }

body {
background-image: url(https://www.blomp.com/wp-content/uploads/2019/01/Cloud_Background_EmailBG.png);
background-position: center center;
background-repeat: no-repeat;
background:  url(https://www.blomp.com/wp-content/uploads/2019/01/Cloud_Background_EmailBG.png) center center no-repeat;
}
body { min-width: 280px; width: 100%;}
td[class="pattern"] .c159p33r { width: 33.33333333333333%;}
td[class="pattern"] .c160p33r { width: 33.333333333333336%;}

</style>
<style>
@media only screen and (max-width: 599px),
only screen and (max-device-width: 599px),
only screen and (max-width: 400px),
only screen and (max-device-width: 400px) {
 .email-root-wrapper { width: 100% !important; }
 .full-width { width: 100% !important; height: auto !important; text-align:center;}
 .fullwidthhalfleft {width:100% !important;}
 .fullwidthhalfright {width:100% !important;}
 .fullwidthhalfinner {width:100% !important; margin: 0 auto !important; float: none !important; margin-left: auto !important; margin-right: auto !important; clear:both !important; }
 .hide { display:none !important; width:0px !important;height:0px !important; overflow:hidden; }
 .desktop-hide { display:block !important; width:100% !important;height:auto !important; overflow:hidden; max-height: inherit !important; }
	.c159p33r { width: 100% !important; float:none;}
.c160p33r { width: 100% !important; float:none;}

}
</style>
<style>
@media only screen and (min-width: 600px) {
  td[class="pattern"] .c159p33r { width: 159px !important;}
td[class="pattern"] .c160p33r { width: 160px !important;}

}
@media only screen and (max-width: 599px),
only screen and (max-device-width: 599px),
only screen and (max-width: 400px),
only screen and (max-device-width: 400px) {
  table[class="email-root-wrapper"] { width: 100% !important; }
  td[class="wrap"] .full-width { width: 100% !important; height: auto !important;}

  td[class="wrap"] .fullwidthhalfleft {width:100% !important;}
  td[class="wrap"] .fullwidthhalfright {width:100% !important;}
  td[class="wrap"] .fullwidthhalfinner {width:100% !important; margin: 0 auto !important; float: none !important; margin-left: auto !important; margin-right: auto !important; clear:both !important; }
  td[class="wrap"] .hide { display:none !important; width:0px;height:0px; overflow:hidden; }

  td[class="pattern"] .c159p33r { width: 100% !important; }
td[class="pattern"] .c160p33r { width: 100% !important; }

}


</style>

<!--[if (gte IE 7) & (vml)]>
<style type="text/css">
html, body {margin:0 !important; padding:0px !important;}
img.full-width { position: relative !important; }

.img300x123 { width: 300px !important; height: 123px !important;}
.img520x375 { width: 520px !important; height: 375px !important;}

</style>
<![endif]-->

<!--[if gte mso 9]>
<style type="text/css">
.mso-font-fix-arial { font-family: Arial, sans-serif;}
.mso-font-fix-georgia { font-family: Georgia, sans-serif;}
.mso-font-fix-tahoma { font-family: Tahoma, sans-serif;}
.mso-font-fix-times_new_roman { font-family: 'Times New Roman', sans-serif;}
.mso-font-fix-trebuchet_ms { font-family: 'Trebuchet MS', sans-serif;}
.mso-font-fix-verdana { font-family: Verdana, sans-serif;}
</style>
<![endif]-->

<!--[if gte mso 9]>
<style type="text/css">
table, td {
border-collapse: collapse !important;
mso-table-lspace: 0px !important;
mso-table-rspace: 0px !important;
}

.email-root-wrapper { width 600px !important;}
.imglink { font-size: 0px; }
.edm_button { font-size: 0px; }
</style>
<![endif]-->

<!--[if gte mso 15]>
<style type="text/css">
table {
font-size:0px;
mso-margin-top-alt:0px;
}

.fullwidthhalfleft {
width: 49% !important;
float:left !important;
}

.fullwidthhalfright {
width: 50% !important;
float:right !important;
}
</style>
<![endif]-->
<STYLE type="text/css" media="(pointer) and (min-color-index:0)">
html, body {background-image: none !important; background-color: transparent !important; margin:0 !important; padding:0 !important;}
</STYLE>

</head>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="font-family:Arial, sans-serif; font-size:0px;margin:0;padding:0;background-image: url(https://www.blomp.com/wp-content/uploads/2019/01/Cloud_Background_EmailBG.png); background-position: center center; background-repeat: repeat-y; background: url(https://www.blomp.com/wp-content/uploads/2019/01/Cloud_Background_EmailBG.png) center center no-repeat !important;" background="https://www.blomp.com/wp-content/uploads/2019/01/Cloud_Background_EmailBG.png">
<span style='display:none;font-size:0px;line-height:0px;max-height:0px;max-width:0px;opacity:0;overflow:hidden'>Email Confirmed!</span>
<!--[if t]><![endif]--><!--[if t]><![endif]--><!--[if t]><![endif]--><!--[if t]><![endif]--><!--[if t]><![endif]--><!--[if t]><![endif]-->
  <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%"  background="https://www.blomp.com/wp-content/uploads/2019/01/Cloud_Background_EmailBG.png" style="margin:0; padding:0; width:100% !important; background-image: url(https://www.blomp.com/wp-content/uploads/2019/01/Cloud_Background_EmailBG.png); background-position: center center; background-repeat: repeat-y; background:  url(https://www.blomp.com/wp-content/uploads/2019/01/Cloud_Background_EmailBG.png) center center no-repeat !important;">
    <tr>
        <td class="wrap" align="center" valign="top" width="100%">
          <center>
<!-- content -->
<div  style="padding:0px"><table cellpadding="0" cellspacing="0" border="0" width="100%" bgcolor="transparent"><tr><td valign="top"  style="padding:0px"><table cellpadding="0" cellspacing="0" width="600" align="center"  style="max-width:600px;min-width:240px;margin:0 auto" class="email-root-wrapper"><tr><td valign="top"  style="padding:0px"><table cellpadding="0" cellspacing="0" border="0" width="100%"><tr><td valign="top"  style="padding-top:50px;padding-right:25px;padding-bottom:50px;padding-left:25px"><table cellpadding="0" cellspacing="0" border="0" width="100%" bgcolor="#FFFFFF"  style="border:0px none;border-radius:25px;border-collapse:separate !important;background-color:#FFFFFF"><tr><td valign="top"  style="padding:15px"><table cellpadding="0" cellspacing="0" width="100%"><tr><td
style="padding:0px"><table cellpadding="0" cellspacing="0" width="100%"><tr><td align="center"  style="padding:0px"><table cellpadding="0" cellspacing="0" border="0" align="center" width="300" height="123"  style="border:0px none;height:auto" class="full-width"><tr><td valign="top"  style="padding:0px"><img
src="https://images.blomp.com/2019/01/Email_BlompBeta.png"width="300" height="123" alt="" border="0"  style="display:block;width:100%;height:auto" class="full-width img300x123"  /></td>
</tr>
</table>
</td>
</tr>
</table>
<table cellpadding="0" cellspacing="0" border="0" width="100%"><tr><td valign="top"  style="padding-top:20px;padding-right:30px;padding-bottom:20px;padding-left:30px"><table cellpadding="0" cellspacing="0" width="100%"><tr><td  style="padding:0px"><table cellpadding="0" cellspacing="0" border="0" width="100%"  style="border-top:2px solid #9843D2"><tr><td valign="top"><table cellpadding="0" cellspacing="0" width="100%"><tr><td  style="padding:0px"></td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>
<table cellpadding="0" cellspacing="0" width="100%"><tr><td align="center"  style="padding:0px"><table cellpadding="0" cellspacing="0" border="0" align="center" width="520" height="375"  style="border:0px none;height:auto" class="full-width"><tr><td valign="top"  style="padding:0px"></td>
</tr>
</table>
</td>
</tr>
</table>
<table cellpadding="0" cellspacing="0" border="0" width="100%">
  <tr>
    <td valign="top"  style="padding:10px">
        <div  style="text-align:left;font-family:Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;font-size:20px;color:#263238;line-height:28px;mso-line-height:exactly;mso-text-raise:4px">
              <p style="padding: 0; margin: 0;text-align: center;">Email Confirmed!</p>
        </div>
    </td>
  </tr>
  <tr>
    <td valign="top" align="center" style="padding:10px">

        <img src="https://dashboard.blomp.com/static/assets/cloud/images/emails/confirmed.png" />
    </td>
  </tr>
  <tr>
    <td valign="top" style="padding:10px">
        <div  style="text-align:left;font-family:Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;font-size:16px;color:#263238;line-height:24  px;mso-line-height:exactly;mso-text-raise:4px">
              <p style="padding: 0; margin: 0;">Hello {{email}},</p>
              <div style="margin-top: 10px"></div>
              <p style="padding: 0; margin: 0;">Welcome to Blomp! Your email was confirmed, you are now able to login to Blomp and start storing all of your valuable photos, videos, and documents!</p>
              <div style="margin-top: 10px"></div>
              <p style="padding: 0; margin: 0;">Your next steps in Blomp:</p>
              <div style="margin-top: 30px"></div>
              <p style="padding: 0; margin: 0;">
              <ol type="1">
                <li>Login to your dashboard</li>
                <li>Install BlompLive or BlompGo software</li>
                <li>Protect your pictures, movies and memories</li>
                <li>Sleep well!</li>
              </ol>
              <div style="margin-top: 30px"></div>
              <p style="padding: 0; margin: 0;">- Blomp Bunch</p>
        </div>
    </td>
  </tr>
</table>
<table cellpadding="0" cellspacing="0" border="0" width="100%"><tr><td valign="top"  style="padding-top:20px;padding-right:30px;padding-bottom:20px;padding-left:30px"><table cellpadding="0" cellspacing="0" width="100%"><tr><td  style="padding:0px"><table cellpadding="0" cellspacing="0" border="0" width="100%"  style="border-top:2px solid #9843D2"><tr><td valign="top"><table cellpadding="0" cellspacing="0" width="100%"><tr><td  style="padding:0px"></td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>
<table cellpadding="0" cellspacing="0" border="0" width="100%"><tr><td valign="top"  style="padding:10px"><div  style="text-align:left;font-family:Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;font-size:16px;color:#263238;line-height:24px;mso-line-height:exactly;mso-text-raise:4px"><p style="padding: 0; margin: 0;text-align: center;">Free Photo, Video, &amp; More Storage!</p></div></td>
</tr>
</table>
<table cellpadding="0" cellspacing="0" border="0" width="100%"><tr><td valign="top"  style="padding-right:20px;padding-left:20px"><table cellpadding="0" cellspacing="0" border="0" width="100%"  style="border:0px none"><tr><td valign="top"  style="padding-bottom:20px"><table cellpadding="0" cellspacing="0" width="100%"><tr><td  style="padding:0px" class="pattern"><table cellpadding="0" cellspacing="0" border="0" width="100%"><tr><td valign="top"  style="padding:0;mso-cellspacing:0in"><table cellpadding="0" cellspacing="0" border="0" align="left" width="159" id="c159p33r"  style="float:left" class="c159p33r"><tr><td valign="top"  style="padding:0px"><table cellpadding="0" cellspacing="0" width="100%"><tr><td align="center"  style="padding:0px"><table cellpadding="0" cellspacing="0"
border="0" align="center"  style="text-align:center;color:#000" class="full-width"><tr><td valign="top" align="center"  style="padding:5px"><table cellpadding="0" cellspacing="0" border="0" bgcolor="#7DACC9"  style="border:0px none;border-radius:50px;border-collapse:separate !important;background-color:#7DACC9" class="full-width"><tr><td valign="top" align="center"  style="padding:10px"><a
href="https://www.blomp.com" target="_blank"  style="text-decoration:none" class="edm_button"><span  style="font-family:Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;font-size:16px;color:#FFFFFF;line-height:16px;text-decoration:none"><span class="mso-font-fix-tahoma">Blomp.com</span></span>
</a></td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>
<!--[if gte mso 9]></td><td valign="top" style="padding:0;"><![endif]-->
<table cellpadding="0" cellspacing="0" border="0" align="left" width="159" id="c159p33r"  style="float:left" class="c159p33r"><tr><td valign="top"  style="padding:0px"><table cellpadding="0" cellspacing="0" width="100%"><tr><td align="center"  style="padding:0px"><table cellpadding="0" cellspacing="0" border="0" align="center"  style="text-align:center;color:#000" class="full-width"><tr><td valign="top" align="center"  style="padding:5px"><table cellpadding="0" cellspacing="0" border="0" bgcolor="#7DACC9"  style="border:0px none;border-radius:50px;border-collapse:separate !important;background-color:#7DACC9" class="full-width"><tr><td valign="top" align="center"  style="padding:10px"><a
href="https://dashboard.blomp.com/" target="_blank"  style="text-decoration:none" class="edm_button"><span  style="font-family:Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;font-size:16px;color:#FFFFFF;line-height:16px;text-decoration:none"><span class="mso-font-fix-tahoma">Dashboard</span></span>
</a></td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>
<!--[if gte mso 9]></td><td valign="top" style="padding:0;"><![endif]-->
<table cellpadding="0" cellspacing="0" border="0" align="left" width="160" id="c160p33r"  style="float:left" class="c160p33r"><tr><td valign="top"  style="padding:0px"><table cellpadding="0" cellspacing="0" width="100%"><tr><td align="center"  style="padding:0px"><table cellpadding="0" cellspacing="0" border="0" align="center"  style="text-align:center;color:#000" class="full-width"><tr><td valign="top" align="center"  style="padding:5px"><table cellpadding="0" cellspacing="0" border="0" bgcolor="#7DACC9"  style="border:0px none;border-radius:50px;border-collapse:separate !important;background-color:#7DACC9" class="full-width"><tr><td valign="top" align="center"  style="padding:10px"><a
href="https://support.blomp.com/" target="_blank"  style="text-decoration:none" class="edm_button"><span  style="font-family:Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;font-size:16px;color:#FFFFFF;line-height:16px;text-decoration:none"><span class="mso-font-fix-tahoma">Forum</span></span>
</a></td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>
</div>
<!-- content end -->
          </center>
        </td>
    </tr>
  </table>
</body>
</html>
