{% extends "base_register.html" %}
{% block content %}
<div class="row center-block">
	<div class="col-md-3 col-sm-3 col-lg-3"></div>
	<div class="col-md-6 col-sm-6 col-lg-6">
		<div class="panel panel-flat chpasswd">
			<div class="panel-heading">
				<h5 class="panel-title">Change your password<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
			</div>
			<div class="panel-body">
				<form class="login-form" action="/passwordreset/" method="POST">
					{% for field in form %}
						<div class="form-group">
							{{ field.label }}
			          		{{ field }}
			      		</div>
			        {% endfor %}
					<div class="text-right">
						<button type="submit" class="btn btn-primary btn-ladda btn-ladda-spinner get-stats" data-style="expand-right" data-spinner-color="#fff" data-spinner-size="20"><span class="ladda-label">Submit</span></button>
					</div>
				</form>
			</div>

		</div>
	</div>
	<div class="col-md-3 col-sm-3 col-lg-3"></div>
</div>
{% endblock content %}