{% extends "base_register.html" %}
{% block content %}
<div class="content">
	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-4"></div>
			<div class="col-lg-4 col-md-4 col-sm-4">
				<form action="/authorize/" method="post">
					<div class="panel panel-body login-form">
						<div class="text-center">
							<div class="icon-object border-slate-300 text-slate-300"><i class="icon-reading"></i></div>
							<h5 class="content-group">Login to your account <small class="display-block">Your credentials</small></h5>
					        {% if messages %}
					            {% for message in messages %}
					            <div class="alert alert-danger" role="alert">
					              {{ message }}
					            </div>
					            {% endfor %}
					        {% endif %}
						</div>
			       		{% for field in form %}
			       		   <div class="row">
				       		   <div class="col-lg-3 col-md-3 col-sm-3"></div>
				       		   <div class="col-lg-6 col-md-6 col-sm-6">
					       		   	{% if field.label != 'Remember me' %}
					       		   		<div class="form-group has-feedback has-feedback-left">
						          			{{ field }}
											<div class="form-control-feedback">
													<i class="icon-user text-muted"></i>
												</div>
										</div>
									{% else %}
									<div class="form-group">
											<div class="checkbox">
												<label>
													{{ field }}
													Remember Me
												</label>
											</div>
									</div>
									{% endif %}
								</div>
							<div class="col-lg-3 col-md-3 col-sm-3"></div>
			        		</div>
				       	{% endfor %}

				       	<div class="row">
							<div class="form-group login-options">
								<div class="col-lg-3 col-md-3 col-sm-3"></div>
								<div class="col-lg-6 col-md-6 col-sm-6">
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-6 text-left">
											<a href="/resend_verify/">Resend verification email</a>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6 text-right">
											<a href="/recovery/">Forgot password?</a>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3"></div>
							</div>
						</div>
						<div class="clearall"></div>
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-4"></div>
							<div class="col-lg-4 col-md-4 col-sm-4">
								<div class="form-group">
									<button type="submit" class="btn bg-blue btn-block">Login <i class="icon-arrow-right14 position-right"></i></button>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4"></div>

						</div>

						<div class="content-divider text-muted form-group"><span>Don't have an account?</span></div>
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-4"></div>
							<div class="col-lg-4 col-md-4 col-sm-4">
								<div class="form-group">
									<a href="/register/" class="btn btn-default btn-block content-group">Sign up</a>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4"></div>

						</div>
						<span class="help-block text-center no-margin">By continuing, you're confirming that you've read our <a href="https://www.blomp.com/terms-and-conditions/">Terms &amp; Conditions</a> and <a href="https://www.blomp.com/privacy-policy/">Privacy Policy</a></span>
					</div>
				</form>
			</div>
		<div class="col-lg-4 col-md-4 col-sm-4"></div>
	</div>

</div>

{% endblock content %}