{% extends "base_register.html" %}
{% block content %}
<div class="row center-block">
	<div class="col-md-3 col-sm-3 col-lg-3"></div>
	<div class="col-md-6 col-sm-6 col-lg-6">
		<div class="panel panel-flat">
			<div class="panel-heading">
				<h5 class="panel-title">Information<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
			</div>

			<div class="panel-body">
        		{% if messages %}
        			{% for message in messages %}
        				{% if message.tags == "error" %}
							<div class="alert bg-danger alert-styled-left">
								<span class="text-semibold">{{ message }}</span>
						    </div>
        				{% else %}
							<div class="alert bg-{{message.tags}} alert-styled-left">
								<span class="text-semibold">{{ message }}</span>
						    </div>
						{% endif %}
		            {% endfor %}
		        {% endif %}
			<div class="clearall"></div>
			<div class="clearall"></div>
			<div class="text-right">
				<div class="btn-group">
					<button type="button" class="btn btn-primary" onclick="window.history.back()"><i class="icon-circle-left2"></i>  Back</button>
					<a href="/" class="btn btn-primary"><i class="icon-home2"></i>  Home</a>
				</div>
			</div>
		</div>

	</div>
	<div class="col-md-3 col-sm-3 col-lg-3"></div>

</div>
{% endblock content %}