{% extends "base_register.html" %}
{% block content %}
<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<div class="panel panel-flat">
			<div class="panel-heading">
				<h5 class="panel-title">Welcome to Blomp! Please enter your details below to register.<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
			</div>
			<div class="panel-body">
        		{% if messages %}
        			{% for message in messages %}
        				{% if message.tags == "error" %}
							<div class="alert bg-danger alert-styled-left">
								<span class="text-semibold">{{ message }}</span>
						    </div>
        				{% else %}
							<div class="alert bg-{{message.tags}} alert-styled-left">
								<span class="text-semibold">{{ message }}</span>
						    </div>
						{% endif %}
		            {% endfor %}
		        {% endif %}
				<form class="login-form" action="/invitation/{{invite_number}}" method="POST">
					{% for field in form %}
						<div class="form-group">
							{% if field.label == 'Agreement' %}
								<div class="checkbox">
									<label>
										{{ field }}
										<strong><a data-toggle="modal" data-target="#terms"> I agree to the Terms and Conditions</a></strong>
									</label>
								</div>
							{% elif field.label == 'Enter your prefered forum username:' %}
								<div class="row">
									<div class="col-sm-8 col-md-8 col-lg-8">
										{{ field.label }}
						          		{{ field }}
									</div>
									<div class="col-sm-4 col-md-4 col-lg-4">
										<div style="padding-top:20px">
										<button type="button" class="btn btn-primary btn-sm btn-ladda btn-ladda-spinner check-availability" data-style="expand-left" data-spinner-color="#333" data-spinner-size="20"><span class="ladda-label">Check Availability</span></button>
									</div>
									</div>
								</div>
							{% else %}
								{{ field.label }}
				          		{{ field }}
			          		{% endif %}
			      		</div>
			        {% endfor %}
					<div class="text-right">
						<button type="submit" class="btn btn-primary btn-ladda btn-ladda-spinner" data-style="expand-right" data-spinner-color="#fff" data-spinner-size="20"><span class="ladda-label">Register</span></button>
					</div>
				</form>
			</div>

		</div>
	</div>
</div>
<div id="terms" class="modal fade">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<div class="modal-body">
				<h1>Terms and Conditions</h1>
				<p>Blomp Terms of Service</p>
				<p>Posted: August 10, 2018</p>
				<p>Effective: August 13, 2018</p>
				<p>Thanks for using Blomp! These terms of service (“Terms”) cover your use and access to our services, client software and websites (“Services”). Our Privacy Policy explains how we collect and use your information while our Acceptable Use Policy outlines your responsibilities when using our Services. By using our Services, you’re agreeing to be bound by these Terms, our Privacy Policy, and Acceptable Use Policy. If you’re using our Services for an organization, you’re agreeing to these Terms on behalf of that organization.</p>
				<p>&nbsp;</p>
				<h2>Your Stuff &amp; Your Permissions</h2>
				<p>When you use our Services, you provide us with things like your files, content, messages, contacts, and so on (“Your Stuff”). Your Stuff is yours. These Terms don’t give us any rights to Your Stuff except for the limited rights that enable us to offer the Services.</p>
				<p>We need your permission to do things like hosting Your Stuff, backing it up, and sharing it when you ask us to. Our Services also provide you with features like photo thumbnails, document previews, commenting, easy sorting, editing, sharing, and searching. These and other features may require our systems to access, store, and scan Your Stuff. You give us permission to do those things, and this permission extends to our affiliates and trusted third parties we work with.</p>
				<p>&nbsp;</p>
				<h2>Sharing Your Stuff</h2>
				<p>Our Services let you share Your Stuff with others, so please think carefully about what you share.</p>
				<p>&nbsp;</p>
				<h2>Your Responsibilities</h2>
				<p>You’re responsible for your conduct. Your Stuff and you must comply with our Acceptable Use Policy. Content in the Services may be protected by others’ intellectual property rights. Please don’t copy, upload, download, or share content unless you have the right to do so.</p>
				<p>We may review your conduct and content for compliance with these Terms and our Acceptable Use Policy. With that said, we have no obligation to do so. We aren’t responsible for the content people post and share via the Services.</p>
				<p>Help us keep you informed and Your Stuff protected. Safeguard your password to the Services, and keep your account information current. Don’t share your account credentials or give others access to your account.</p>
				<p>You may use our Services only as permitted by applicable law, including export control laws and regulations. Finally, to use our Services, you must be at least 13, or in some cases, even older. If you live in France, Germany, or the Netherlands, you must be at least 16. Please check your local law for the age of digital consent. If you don’t meet these age requirements, you may not use the Services.</p>
				<p>&nbsp;</p>
				<h2>Software</h2>
				<p>Some of our Services allow you to download client software (“Software”) which may update automatically. So long as you comply with these Terms, we give you a limited, nonexclusive, nontransferable, revocable license to use the Software, solely to access the Services. To the extent any component of the Software may be offered under an open source license, we’ll make that license available to you and the provisions of that license may expressly override some of these Terms. Unless the following restrictions are prohibited by law, you agree not to reverse engineer or decompile the Services, attempt to do so, or assist anyone in doing so.</p>
				<p>&nbsp;</p>
				<h2>Beta Services</h2>
				<p>We sometimes release products and features that we are still testing and evaluating. Those Services have been marked beta, preview, early access, or evaluation (or with words or phrases with similar meanings) and may not be as reliable as Blomp’s other services, so please keep that in mind.</p>
				<p>&nbsp;</p>
				<h2>Our Stuff</h2>
				<p>The Services are protected by copyright, trademark, and other US and foreign laws. These Terms don’t grant you any right, title, or interest in the Services, others’ content in the Services, Blomp trademarks, logos and other brand features. We welcome feedback, but note that we may use comments or suggestions without any obligation to you.</p>
				<p>&nbsp;</p>
				<h2>Copyright</h2>
				<p>We respect the intellectual property of others and ask that you do too. We respond to notices of alleged copyright infringement if they comply with the law, and such notices should be reported using our Copyright Policy. We reserve the right to delete or disable content alleged to be infringing and terminate accounts of repeat infringers. Our designated agent for notice of alleged copyright infringement on the Services is:</p>
				<p>Copyright Agent<br>
				Blomp<br>
				11700 Montgomery Rd<br>
				Beltsville, MD 20705</p>
				<p>Billing. You can increase your storage space and add paid features to your account (turning your account into a “Paid Account”). We’ll automatically bill you from the date you convert to a Paid Account and on each periodic renewal until cancellation. If you’re on an annual plan, we’ll send you a notice email reminding you that your plan is about to renew within a reasonable period of time prior to the renewal date. You’re responsible for all applicable taxes, and we’ll charge tax when required to do so. Some countries have mandatory local laws regarding your cancellation rights, and this paragraph doesn’t override these laws.</p>
				<p>No Refunds. You may cancel your Blomp Paid Account at any time. Refunds are only issued if required by law. For example, users living in the European Union have the right to cancel their Paid Account subscriptions within 14 days of signing up for, upgrading to, or renewing a Paid Account.</p>
				<p>Downgrades. Your Paid Account will remain in effect until it’s cancelled or terminated under these Terms. If you don’t pay for your Paid Account on time, we reserve the right to suspend it or reduce your storage to free space levels.</p>
				<p>Changes. We may change the fees in effect but will give you advance notice of these changes via a message to the email address associated with your account.<br>
				Blomp Teams</p>
				<p>Email address. If you sign up for a Blomp account with an email address provisioned by your organization, your organization may be able to block your use of Blomp until you transition to an account on a Blomp team (e.g., Blomp Business or Blomp Education plans) or you associate your Blomp account with a personal email address.</p>
				<p>&nbsp;</p>
				<h2>Termination</h2>
				<p>You’re free to stop using our Services at any time. We reserve the right to suspend or terminate your access to the Services with notice to you if:</p>
				<p>(a) you’re in breach of these Terms,</p>
				<p>(b) you’re using the Services in a manner that would cause a real risk of harm or loss to us or other users, or</p>
				<p>(c) you don’t have a Paid Account and haven’t accessed our Services for 2 consecutive months.</p>
				<p>We’ll provide you with reasonable advance notice via the email address associated with your account to remedy the activity that prompted us to contact you and give you the opportunity to export Your Stuff from our Services. If after such notice you fail to take the steps we ask of you, we’ll terminate or suspend your access to the Services.</p>
				<p>We won’t provide notice before termination where:</p>
				<p>(a) you’re in material breach of these Terms,</p>
				<p>(b) doing so would cause us legal liability or compromise our ability to provide the Services to our other users, or</p>
				<p>(c) we’re prohibited from doing so by law.<br>
				Discontinuation of Services</p>
				<p>We may decide to discontinue the Services in response to unforeseen circumstances beyond Blomp’s control or to comply with a legal requirement. If we do so, we’ll give you reasonable prior notice so that you can export Your Stuff from our systems. If we discontinue Services in this way before the end of any fixed or minimum term you have paid us for, we’ll refund the portion of the fees you have pre-paid but haven’t received Services for.</p>
				<p>&nbsp;</p>
				<h2>Services “AS IS”</h2>
				<p>We strive to provide great Services, but there are certain things that we can’t guarantee. TO THE FULLEST EXTENT PERMITTED BY LAW, Blomp AND ITS AFFILIATES, SUPPLIERS AND DISTRIBUTORS MAKE NO WARRANTIES, EITHER EXPRESS OR IMPLIED, ABOUT THE SERVICES. THE SERVICES ARE PROVIDED “AS IS.” WE ALSO DISCLAIM ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT. Some places don’t allow the disclaimers in this paragraph, so they may not apply to you.</p>
				<p>&nbsp;</p>
				<h2>Limitation of Liability</h2>
				<p>WE DON’T EXCLUDE OR LIMIT OUR LIABILITY TO YOU WHERE IT WOULD BE ILLEGAL TO DO SO—THIS INCLUDES ANY LIABILITY FOR Blomp’S OR ITS AFFILIATES’ FRAUD OR FRAUDULENT MISREPRESENTATION IN PROVIDING THE SERVICES. IN COUNTRIES WHERE THE FOLLOWING TYPES OF EXCLUSIONS AREN’T ALLOWED, WE’RE RESPONSIBLE TO YOU ONLY FOR LOSSES AND DAMAGES THAT ARE A REASONABLY FORESEEABLE RESULT OF OUR FAILURE TO USE REASONABLE CARE AND SKILL OR OUR BREACH OF OUR CONTRACT WITH YOU. THIS PARAGRAPH DOESN’T AFFECT CONSUMER RIGHTS THAT CAN’T BE WAIVED OR LIMITED BY ANY CONTRACT OR AGREEMENT.</p>
				<p>IN COUNTRIES WHERE EXCLUSIONS OR LIMITATIONS OF LIABILITY ARE ALLOWED, Blomp, ITS AFFILIATES, SUPPLIERS OR DISTRIBUTORS WON’T BE LIABLE FOR:</p>
				<p>i. ANY INDIRECT, SPECIAL, INCIDENTAL, PUNITIVE, EXEMPLARY, OR CONSEQUENTIAL DAMAGES, OR</p>
				<p>ii. ANY LOSS OF USE, DATA, BUSINESS, OR PROFITS, REGARDLESS OF LEGAL THEORY.</p>
				<p>THESE EXCLUSIONS OR LIMITATIONS WILL APPLY REGARDLESS OF WHETHER OR NOT Blomp OR ANY OF ITS AFFILIATES HAS BEEN WARNED OF THE POSSIBILITY OF SUCH DAMAGES.</p>
				<p>IF YOU USE THE SERVICES FOR ANY COMMERCIAL, BUSINESS, OR RE-SALE PURPOSE, Blomp, ITS AFFILIATES, SUPPLIERS OR DISTRIBUTORS WILL HAVE NO LIABILITY TO YOU FOR ANY LOSS OF PROFIT, LOSS OF BUSINESS, BUSINESS INTERRUPTION, OR LOSS OF BUSINESS OPPORTUNITY. Blomp AND ITS AFFILIATES AREN’T RESPONSIBLE FOR THE CONDUCT, WHETHER ONLINE OR OFFLINE, OF ANY USER OF THE SERVICES.</p>
				<p>OTHER THAN FOR THE TYPES OF LIABILITY WE CANNOT LIMIT BY LAW (AS DESCRIBED IN THIS SECTION), WE LIMIT OUR LIABILITY TO YOU TO THE GREATER OF $20 USD OR 100% OF ANY AMOUNT YOU’VE PAID UNDER YOUR CURRENT SERVICE PLAN WITH Blomp.<br>
				Resolving Disputes</p>
				<p>Let’s Try To Sort Things Out First. We want to address your concerns without needing a formal legal case. Before filing a claim against Blomp, you agree to try to resolve the dispute informally by contacting support@Blomp.com. We’ll try to resolve the dispute informally by contacting you via email. If a dispute is not resolved within 15 days of submission, you or Blomp may bring a formal proceeding.</p>
				<p>Judicial forum for disputes. You and Blomp agree that any judicial proceeding to resolve claims relating to these Terms or the Services will be brought in the federal or state courts of San Francisco County, California, subject to the mandatory arbitration provisions below. Both you and Blomp consent to venue and personal jurisdiction in such courts. If you reside in a country (for example, European Union member states) with laws that give consumers the right to bring disputes in their local courts, this paragraph doesn’t affect those requirements.</p>
				<h2>IF YOU’RE A U.S. RESIDENT, YOU ALSO AGREE TO THE FOLLOWING MANDATORY ARBITRATION PROVISIONS:</h2>
				<p>We Both Agree To Arbitrate. You and Blomp agree to resolve any claims relating to these Terms or the Services through final and binding arbitration by a single arbitrator, except as set forth under Exceptions to Agreement to Arbitrate below. This includes disputes arising out of or relating to interpretation or application of this “Mandatory Arbitration Provisions” section, including its enforceability, revocability, or validity.</p>
				<p>Opt-out of Agreement to Arbitrate. You can decline this agreement to arbitrate by submitting your request to support@blomp.com within 30 days of first registering your account. However, if you agreed to a previous version of these Terms that allowed you to opt out of arbitration, your previous choice to opt out or not opt out remains binding.</p>
				<p>Arbitration Procedures. The American Arbitration Association (AAA) will administer the arbitration under its Commercial Arbitration Rules and the Supplementary Procedures for Consumer Related Disputes. The arbitration will be held in the United States county where you live or work, Washington, DC, or any other location we agree to.</p>
				<p>Arbitration Fees and Incentives. The AAA rules will govern payment of all arbitration fees. Blomp will pay all arbitration fees for individual arbitration for claims less than $75,000. If you receive an arbitration award that is more favorable than any offer we make to resolve the claim, we will pay you $1,000 in addition to the award. Blomp will not seek its attorneys’ fees and costs in arbitration unless the arbitrator determines that your claim is frivolous.</p>
				<p>Exceptions to Agreement to Arbitrate. Either you or Blomp may assert claims, if they qualify, in small claims court in Prince George’s County, MD or any United States county where you live or work. Either party may bring a lawsuit solely for injunctive relief to stop unauthorized use or abuse of the Services, or intellectual property infringement (for example, trademark, trade secret, copyright, or patent rights) without first engaging in arbitration or the informal dispute-resolution process described above. If the agreement to arbitrate is found not to apply to you or your claim, you agree to the exclusive jurisdiction of the state and federal courts in Prince George’s County, Maryland (MD) to resolve your claim.</p>
				<p>NO CLASS ACTIONS. You may only resolve disputes with us on an individual basis, and may not bring a claim as a plaintiff or a class member in a class, consolidated, or representative action. Class arbitrations, class actions, private attorney general actions, and consolidation with other arbitrations aren’t allowed. If this specific paragraph is held unenforceable, then the entirety of this “Mandatory Arbitration Provisions” section will be deemed void.<br>
				Controlling Law</p>
				<p>These Terms will be governed by California law except for its conflicts of laws principles. However, some countries (including those in the European Union) have laws that require agreements to be governed by the local laws of the consumer’s country. This paragraph doesn’t override those laws.<br>
				Entire Agreement</p>
				<p>These Terms constitute the entire agreement between you and Blomp with respect to the subject matter of these Terms, and supersede and replace any other prior or contemporaneous agreements, or terms and conditions applicable to the subject matter of these Terms. These Terms create no third party beneficiary rights.<br>
				Waiver, Severability &amp; Assignment</p>
				<p>Blomp’s failure to enforce a provision is not a waiver of its right to do so later. If a provision is found unenforceable, the remaining provisions of the Terms will remain in full effect and an enforceable term will be substituted reflecting our intent as closely as possible. You may not assign any of your rights under these Terms, and any such attempt will be void. Blomp may assign its rights to any of its affiliates or subsidiaries, or to any successor in interest of any business associated with the Services.<br>
				Modifications</p>
				<p>We may revise these Terms from time to time to better reflect:</p>
				<p>(a) changes to the law,</p>
				<p>(b) new regulatory requirements, or</p>
				<p>(c) improvements or enhancements made to our Services.</p>
				<p>If an update affects your use of the Services or your legal rights as a user of our Services, we’ll notify you prior to the update’s effective date by sending an email to the email address associated with your account or via an in-product notification. These updated terms will be effective no less than 30 days from when we notify you.</p>
				<p>If you don’t agree to the updates we make, please cancel your account before they become effective. Where applicable, we’ll offer you a prorated refund based on the amounts you have prepaid for Services and your account cancellation date. By continuing to use or access the Services after the updates come into effect, you agree to be bound by the revised Terms.</p>

			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
{% endblock content %}