{% load static %}
{% load get_notifications %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blomp Cloud Storage - Dashboard</title>
    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/cloud/css/icons/icomoon/styles.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/cloud/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/cloud/css/core.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/cloud/css/components.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/cloud/css/colors.css' %}" rel="stylesheet" type="text/css">
    {% block custom_css %}
    {% endblock %}
    <!-- /global stylesheets -->
    <script type="text/javascript" src="{% static 'assets/cloud/js/plugins/loaders/pace.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/cloud/js/core/libraries/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/cloud/js/core/libraries/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/cloud/js/plugins/loaders/blockui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/cloud/js/plugins/ui/nicescroll.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/cloud/js/plugins/ui/drilldown.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/cloud/js/core/libraries/jquery_ui/interactions.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/cloud/js/plugins/forms/styling/uniform.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/cloud/js/plugins/forms/selects/select2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/cloud/js/plugins/forms/selects/selectboxit.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/cloud/js/plugins/ui/prism.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/cloud/js/plugins/forms/selects/bootstrap_multiselect.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/cloud/js/plugins/forms/editable/editable.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/cloud/js/plugins/extensions/contextmenu.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/cloud/js/plugins/forms/tags/tagsinput.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/cloud/js/plugins/forms/tags/tokenfield.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/cloud/js/plugins/notifications/bootbox.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/cloud/js/plugins/notifications/sweet_alert.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/cloud/js/core/app.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/cloud/js/plugins/buttons/spin.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/cloud/js/plugins/buttons/ladda.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/cloud/js/plugins/uploaders/fileinput.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/cloud/js/plugins/visualization/d3/d3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/cloud/js/plugins/visualization/c3/c3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/cloud/js/pages/uploader_bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/cloud/js/core/blomp.min.js' %}"></script>
    {% block custom_js %}
    {% endblock %}
</head>
<body>
    <!-- Main navbar -->
    <div class="navbar navbar-inverse header-highlight bg-violet-900">
        <div class="navbar-header">
            <a class="navbar-brand" href="/dashboard"><img src="{% static 'assets/cloud/images/logo_light.png' %}" alt=""></a>

            <ul class="nav navbar-nav visible-xs-block">
                <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
                <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
            </ul>
        </div>

        <div class="navbar-collapse collapse" id="navbar-mobile">
            <ul class="nav navbar-nav">
                <li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-info22"></i>
                        <span class="visible-xs-inline-block position-right">Notifications</span>
                        {% count_notifications request.session.user_id as count %}
                        {% if count > 0 %}
                            <span class="badge bg-warning-400">{{count}}</span>
                        {% endif %}
                    </a>
                    <div class="dropdown-menu dropdown-content width-350">
                        <div class="dropdown-content-heading">
                            Notifications
                        </div>
                        <!-- Notifications -->
                        {% get_notifications request.session.user_id as notfications %}
                        {% for n in notfications %}
                            {{ n | safe}}
                        {% endfor %}
                        <!-- End notifications -->
                    </div>

                </li>
                <li class="dropdown dropdown-user">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <span>Settings</span>
                        <i class="caret"></i>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="/dashboard/profile"><i class="icon-user"></i> Profile</a></li>
                        <li><a href="/dashboard/billing"><i class="icon-cart5"></i> Billing</a></li>
                        <li><a href="/dashboard/profile/promo/"><i class="icon-barcode2"></i> Promo Codes</a></li>
                        <li><a href="/dashboard/notifications"><i class="icon-bubbles2"></i> Notifications</a></li>
                        <li><a href="/logout/"><i class="icon-switch2"></i> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- /main navbar -->

    <!-- Page container -->
    <div class="page-container">

        <!-- Page content -->
        <div class="page-content">

            <!-- Main sidebar -->
            <div class="sidebar sidebar-main">
                <div class="sidebar-content">
                    <!-- Main navigation -->
                    <div class="sidebar-category sidebar-category-visible">
                        <div class="category-content no-padding">
                            <ul class="navigation navigation-main navigation-accordion">

                                <!-- Main -->
                                <li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>
                                <li><a href="/dashboard"><i class="icon-home4"></i> <span>Dashboard</span></a></li>
                                <li><a href="/dashboard/profile/invite"><i class="icon-mention"></i> <span>Get More Space</span></a></li>
                                <li><a href="/dashboard/billing"><i class="icon-cart2"></i> <span>Plans & Billing</span></a></li>
                                <li><a href="/dashboard/files"><i class="icon-folder-open2"></i> <span>My Files</span></a></li>
                                <li><a href="https://forum.blomp.com"><i class="icon-lifebuoy"></i> <span>FAQ & Support</span></a></li>
                                <li><a href="https://www.blomp.com"><i class="icon-home2"></i> <span>Blomp Home</span></a></li>
                                <li><a href="/dashboard/advanced"><i class="icon-user-plus"></i> <span>Advanced</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /main navigation -->

                </div>
            </div>
            <!-- /main sidebar -->
            <!-- Main content -->
            <div class="content-wrapper">
                <div class="content">
                    {% block content %}{% endblock content %}
                    <!-- Footer -->
                    <div class="footer text-muted">
                        &copy; {% now 'Y' %}. <a href="#">Blomp.com Storage.Made.Easy.</a>
                    </div>
                    <!-- /footer -->
                </div>
            </div>
        </div>
        <!-- /page content -->

    </div>
    <!-- /page container -->


</body>
</html>
