{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Blomp Cloud Storage - Dashboard</title>
	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/cloud/css/icons/icomoon/styles.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/cloud/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/cloud/css/core.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/cloud/css/components.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/cloud/css/colors.css' %}" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->
	<script type="text/javascript" src="{% static 'assets/cloud/js/plugins/loaders/pace.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/cloud/js/core/libraries/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/cloud/js/core/libraries/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/cloud/js/plugins/loaders/blockui.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/cloud/js/plugins/ui/nicescroll.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/cloud/js/plugins/ui/drilldown.js' %}"></script>

	<script type="text/javascript" src="{% static 'assets/cloud/js/core/libraries/jquery_ui/interactions.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/cloud/js/plugins/forms/styling/uniform.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/cloud/js/plugins/forms/selects/select2.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/cloud/js/plugins/forms/tags/tokenfield.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/cloud/js/plugins/buttons/spin.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/cloud/js/plugins/buttons/ladda.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/cloud/js/plugins/notifications/sweet_alert.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/cloud/js/core/app.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/cloud/js/pages/form_layouts.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/cloud/js/core/check.js' %}"></script>



</head>
<body>
	<!-- Main navbar -->
	<div class="navbar navbar-inverse header-highlight bg-violet-900">
		<div class="navbar-header">
			<a class="navbar-brand" href="/"><img src="{% static 'assets/cloud/images/logo_light.png' %}" alt=""></a>

			<ul class="nav navbar-nav visible-xs-block">
				<li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
			</ul>
		</div>
	</div>
	<!-- /main navbar -->

	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">
			<!-- Main content -->
			<div class="content-wrapper">
				<div class="content">
               		{% block content %}{% endblock content %}
					<!-- Footer -->
					<div class="footer text-muted">
						&copy; {% now 'Y' %}. <a href="/">Blomp.com Storage.Made.Easy.</a>
					</div>
					<!-- /footer -->
			    </div>
			</div>
		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->


</body>
</html>
