{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blomp - Cloud Storage</title>
	  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="{% static 'assets/frontend/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/frontend/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'assets/frontend/css/jquery.bxslider.css' %}" rel="stylesheet" />
	  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/frontend/css/slick.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/frontend/css/slick-theme.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/frontend/css/jquery.fancybox.css' %}" media="screen" />
  </head>
  <body>
  <div class="se-pre-con"></div>
  <!-- header -->
    <div class="header" id="header">
       <div class="container headmsg">
        <div class="navigation">
            <div class="row">
               <div class="col-lg-3 col-md-3">
                 <div class="logo"><a href="/"><img src="{% static 'assets/frontend/images/logo.png' %}" alt="logo"></a></div>
                   <div id="menu-icon"><span></span><span></span><span></span></div>
                   <div class="clear"></div>

               </div>
               <div class="col-lg-9 col-md-9" id="menu">
                 <div class="menu">
                    <ul>
                      <li><a href="#header">Start</a></li>
                      <li><a href="#features">Features</a></li>
                      <li><a href="#pricing">Pricing</a></li>
                    </ul>
                 </div>
               </div>
            </div>
         </div>
      </div>
       <div class="container">
          <div class="row">
             <div class="col-lg-8">
                <h1>Think out of the box with ᗷᒪOᗰᑭ</h1>
                <p>A contemporary creation and storage cloud designed to simplify and secure.</p>
                <p>Get started with 20 GB storage – <i>always free.</i></p>
                <p>Upgrade for additional features and space.</p>
             </div>
             <div class="col-lg-4">
              <div class="img-holder">
                <img src="{% static 'assets/frontend/images/blomp-hd2.png' %}" alt="">
              </div>
             </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <div class="toping">
              </div>
            </div>
          </div>
       </div>
    </div>
   <!-- header End-->
   {% block content %}{% endblock content %}


        <!-- address-->
   <div class="section14">
       <div class="container">
       <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <p>Powered by AiNET© - ᗷᒪOᗰᑭ is:</p>

            <p>✔ FLEXIBILE</p>

            <p>✔ SECURE</p>

            <p>✔ ACCESSIBILE</p>
          </div>
        </div>
    </div>
     <!-- address End-->
      <!-- footer-->
   <div class="section15">
       <div class="container">
       <div class="row">
         <div class="col-lg-12">

            <p>© AiNET <a href="https://www.ai.net" target="_blank"> Cloud.Made.Easy </a> <a href="https://www.ai.net" target="_blank"> Privacy Policy </a> <a href="https://www.ai.net" target="_blank"> Terms and Conditions </a></p>
         </div>
       </div>
      </div>
    </div>
        <!-- footer End-->

    <script src="{% static 'assets/frontend/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/frontend/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/frontend/js/jquery.bxslider.min.js' %}"></script>
    <script src="{% static 'assets/frontend/js/slick.js' %}" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'assets/frontend/js/jquery.fancybox.pack.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/frontend/js/modernizr.custom.53451.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/frontend/js/jquery.gallery.js' %}"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			// ===== Scroll to Top ====
			$(window).scroll(function() {
			    if ($(this).scrollTop() >= 50) {        // If page is scrolled more than 50px
			        $('#return-to-top').fadeIn(200);    // Fade in the arrow
			    } else {
			        $('#return-to-top').fadeOut(200);   // Else fade out the arrow
			    }
			});
			$('#return-to-top').click(function() {      // When arrow is clicked
			    $('body,html').animate({
			        scrollTop : 0                       // Scroll to top of body
			    }, 500);
			});
		});
	</script>
 	<script>
  $(document).ready(function(){
    //Screenshot in details slider
    $(function() {
        $('#dg-container').gallery();
      });


    //Testimonials slider
      $(".center").slick({
        dots: true,
        infinite: true,
        centerMode: true,
        slidesToShow: 3,
        slidesToScroll: 1,
    responsive: [
                {
                  breakpoint:600,
                  settings: {
                      mobileFirst: true,
                      slidesToShow: 1,
                                       }
                }
              ]
      });

    // Logo Slider
    $('.slider1').bxSlider({
    slideWidth: 260,
    minSlides: 2,
    maxSlides: 4,
    slideMargin: 10,
  });

  //Responsive Menu
    $("#menu-icon").click(function(){$("#menu").slideToggle("slow");});


// Animate images and contents when Scroll
(function($) {
  $.fn.visible = function(partial) {

      var $t            = $(this),
          $w            = $(window),
          viewTop       = $w.scrollTop(),
          viewBottom    = viewTop + $w.height(),
          _top          = $t.offset().top,
          _bottom       = _top + $t.height(),
          compareTop    = partial === true ? _bottom : _top,
          compareBottom = partial === true ? _top : _bottom;

    return ((compareBottom <= viewBottom) && (compareTop >= viewTop));

  };

})(jQuery);

var win = $(window);

var allMods = $(".module");

allMods.each(function(i, el) {
  var el = $(el);
  if (el.visible(true)) {
    el.addClass("already-visible");
  }
});



win.scroll(function(event) {

  allMods.each(function(i, el) {
    var el = $(el);
    if (el.visible(true)) {
      el.addClass("come-in");
    }
  });

});// End Animate images and contents when Scroll

// Video popup
$(".various").fancybox({
        type: "iframe", //<--added
        maxWidth: 800,
        maxHeight: 600,
        fitToView: false,
        width: '70%',
        height: '70%',
        autoSize: false,
        closeClick: false,
        openEffect: 'none',
        closeEffect: 'none'
    });


// Number Count for Our strong numbers
$('.count').each(function () {
    $(this).prop('Counter',0).animate({
        Counter: $(this).text()
    }, {
        duration: 4000,
        easing: 'swing',
        step: function (now) {
            $(this).text(Math.ceil(now));
        }
    });
});


  // Scroll to Section
    $('a[href*=\\#]').on('click', function(event){
        event.preventDefault();
        $('html,body').animate({scrollTop:$(this.hash).offset().top}, 1000);
    });
  });


// Animate loader off screen
$(window).load(function() {

    $(".se-pre-con").fadeOut("slow");;
  });
  </script>
  <a href="javascript:" id="return-to-top"><i class="icon-chevron-up"></i></a>
  </body>
</html>