{% extends "base_storage.html" %}
{% block content %}
			<div class="page-header-content">
				<div class="page-title">
					<h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Advanced</span></h4>

					<ul class="breadcrumb breadcrumb-caret position-right">
						<li><a href="/dashboard/">Blomp</a></li>
						<li class="active"><a href="#">Advanced</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<div class="panel panel-flat border-left-xlg border-left-info">
						<div class="panel-heading">
							<h5 class="panel-title"><span class="text-semibold">Blomp Storage Credentials</span></h5>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6">
									<h4 class="text-light">Blomp Service Credentials:</h4>
										<h6>Username: {{ details.email }}</h6>
										<h6>Authentication URL: <a href="https://authenticate.blomp.com">https://authenticate.blomp.com</a></h6>
										<h6>Bucket Name: {{ bucket }}</h6>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6">
									<h4 class="text-light">Blomp S3 Credentials:</h4>
										<button type="button" class="btn btn-primary btn-xlg btn-rounded btn-ladda btn-ladda-spinner get-s3" data-id="{{ details.id }}" data-style="expand-right" data-spinner-color="#fff" data-spinner-size="20"><span class="ladda-label"><i class=" icon-lock2"></i> Show S3 Credentials</span></button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="partials"></div>
<div class="clearall"></div>
{% endblock content %}