{% extends "base_storage.html" %}
{% block content %}
			<div class="page-header-content">
				<div class="page-title">
					<h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Dashboard</span></h4>

					<ul class="breadcrumb breadcrumb-caret position-right">
						<li><a href="/dashboard/">Blomp</a></li>
						<li class="active"><a href="#">Billing</a></li>
					</ul>
				</div>
			</div>
			<div class="panel panel-flat border-left-xlg border-left-info">
				<div class="panel-heading">
					<h5 class="panel-title"><span class="text-semibold">Upgrade your plan</span></h5>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-3">
							<div class="well" style="height:520px">
								<div class="row">
									<div class="col-lg-8 col-md-8 col-sm-8">
										<h5 class="panel-title"><span class="text-semibold">20-200 GB - Free</span></h5>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3">
										{% if billing.plan == "basic" %}
										<span class="label bg-danger">Active</span>
										{% endif %}
									</div>
								</div>

								<hr>
								<h6>
									<i class=" icon-checkmark-circle2 position-left text-success"></i> <span class="text-light">20 GB of storage</span>
								</h6>
								<h6>
									<i class=" icon-checkmark-circle2 position-left text-success"></i> <span class="text-light">Up to 200 GB</span>
								</h6>
								<h6>
									<i class=" icon-checkmark-circle2 position-left text-success"></i> <span class="text-light">Add 20GB for every friend who joins</span>
								</h6>
								<h6>
									<i class=" icon-checkmark-circle2 position-left text-success"></i> <span class="text-light">200 days of file recovery</span>
								</h6>
								<h6>
									<i class=" icon-checkmark-circle2 position-left text-success"></i> <span class="text-light">Smart Sync</span>
								</h6>
								<h6>
									<i class=" icon-checkmark-circle2 position-left text-success"></i> <span class="text-light">BLOMP admin tools</span>
								</h6>
								<h6>
									<i class=" icon-checkmark-circle2 position-left text-success"></i> <span class="text-light">Granular sharing permissions</span>
								</h6>
								<h6>
									<i class=" icon-checkmark-circle2 position-left text-success"></i> <span class="text-light">Unlimited API access to security and productivity platform partners</span>
								</h6>
								<h6>
									<i class=" icon-checkmark-circle2 position-left text-success"></i> <span class="text-light">*Monthly Logins (required)</span>
								</h6>
								<h6>
									<i class=" icon-checkmark-circle2 position-left text-success"></i> <span class="text-light">Live chat support</span>
								</h6>
								<h6>
									<i class=" icon-checkmark-circle2 position-left text-success"></i> <span class="text-light">Remote device wipe</span>
								</h6>
								<h6>
									<i class=" icon-checkmark-circle2 position-left text-success"></i> <span class="text-light">User and company managed groups</span>
								</h6>
								<div class="clearall"></div>

							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3">
							<div class="well" style="height:520px">
								<div class="row">
									<div class="col-lg-8 col-md-8 col-sm-8">
										<h5 class="panel-title"><span class="text-semibold">250 GB Plan - $0.99/MONTH</span></h5>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3">
										{% if billing.plan == "250 GB" %}
											<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_subscr-find&alias=ZYA36SNCH2V5J" class="btn btn-danger btn-xs"><i class="icon-paypal position-left"></i> Cancel Plan</a>
										{% else %}
											<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
												<input type="hidden" name="cmd" value="_s-xclick">
												<input type="hidden" name="hosted_button_id" value="ZYA36SNCH2V5J">
												<input type="hidden" name="notify_url" value="https://dashboard.blomp.com/dashboard/payments/process/">
												<input type="hidden" name="currency_code" value="USD">
												<input type="hidden" name="custom" value="{{customer_id}}-1">
												<button type="submit" class="btn btn-primary btn-xs"><i class="icon-paypal position-left"></i> Upgrade</button>
											</form>
										{% endif %}
									</div>
								</div>
								<hr>
								<h6>
									<i class=" icon-checkmark-circle2 position-left text-success"></i> <span class="text-light">250 GB of storage</span>
								</h6>
								<h6>
									<i class=" icon-checkmark-circle2 position-left text-success"></i> <span class="text-semibold">Everything in Basic Plan</span>
								</h6>
								<h6>
									<i class=" icon-checkmark-circle2 position-left text-success"></i> <span class="text-light">Unlimited Files</span>
								</h6>
								<h6>
									<i class=" icon-checkmark-circle2 position-left text-success"></i> <span class="text-light">Unlimited Memories</span>
								</h6>
								<h6>
									<i class=" icon-checkmark-circle2 position-left text-success"></i> <span class="text-light">Tiered admin roles</span>
								</h6>
								<h6>
									<i class=" icon-checkmark-circle2 position-left text-success"></i> <span class="text-light">Community Support</span>
								</h6>
								<h6>
									<i class=" icon-checkmark-circle2 position-left text-success"></i> <span class="text-light">Email / Forum Support</span>
								</h6>
							</div>

						</div>
 						<div class="col-lg-3 col-md-3 col-sm-3">
							<div class="well" style="height:520px">
								<div class="row">
									<div class="col-lg-8 col-md-8 col-sm-8">
										<h5 class="panel-title"><span class="text-semibold">2 TB Plan - $2.99/MONTH</span></h5>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-4">
										{% if billing.plan == "2 TB" %}
											<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_subscr-find&alias=WL3FK76FJNC2G" class="btn btn-danger btn-xs"><i class="icon-paypal position-left"></i> Cancel Plan</a>
										{% else %}
											<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
												<input type="hidden" name="cmd" value="_s-xclick">
												<input type="hidden" name="hosted_button_id" value="WL3FK76FJNC2G">
												<input type="hidden" name="notify_url" value="https://dashboard.blomp.com/dashboard/payments/process/">
												<input type="hidden" name="currency_code" value="USD">
												<input type="hidden" name="custom" value="{{customer_id}}-2">
												<button type="submit" class="btn btn-primary btn-xs"><i class="icon-paypal position-left"></i> Upgrade</button>
											</form>
										{% endif %}
									</div>
								</div>
								<hr>
								<h6>
									<i class=" icon-checkmark-circle2 position-left text-success"></i> <span class="text-light">2 TB of storage</span>
								</h6>
								<h6>
									<i class=" icon-checkmark-circle2 position-left text-success"></i> <span class="text-semibold">Everything in 250 GB Plan</span>
								</h6>
								<h6>
									<i class=" icon-checkmark-circle2 position-left text-success"></i> <span class="text-light">Unlimited Files</span>
								</h6>
								<h6>
									<i class=" icon-checkmark-circle2 position-left text-success"></i> <span class="text-light">Unlimited Memories</span>
								</h6>
								<h6>
									<i class=" icon-checkmark-circle2 position-left text-success"></i> <span class="text-light">Unlimited Creativity!</span>
								</h6>
								<h6>
									<i class=" icon-checkmark-circle2 position-left text-success"></i> <span class="text-light">Community Support</span>
								</h6>
								<h6>
									<i class=" icon-checkmark-circle2 position-left text-success"></i> <span class="text-light">Unmetered Bandwidth</span>
								</h6>
								<h6>
									<i class=" icon-checkmark-circle2 position-left text-success"></i> <span class="text-light">24/7 Telephone Support</span>
								</h6>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3">
							<div class="well" style="height:520px">
								<div class="row">
									<div class="col-lg-8 col-md-8 col-sm-8">
										<h5 class="panel-title"><span class="text-semibold">10 TB Plan - $9.99/MONTH</span></h5>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-3">
										{% if billing.plan == "10 TB" %}
											<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_subscr-find&alias=VXDENTAK9JP2S" class="btn btn-danger btn-xs"><i class="icon-paypal position-left"></i> Cancel Plan</a>
										{% else %}
											<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
												<input type="hidden" name="cmd" value="_s-xclick">
												<input type="hidden" name="hosted_button_id" value="VXDENTAK9JP2S">
												<input type="hidden" name="notify_url" value="https://dashboard.blomp.com/dashboard/payments/process/">
												<input type="hidden" name="currency_code" value="USD">
												<input type="hidden" name="custom" value="{{customer_id}}-3">
												<button type="submit" class="btn btn-primary btn-xs"><i class="icon-paypal position-left"></i> Upgrade</button>
											</form>
										{% endif %}
									</div>
								</div>
								<hr>
								<h6>
									<i class=" icon-checkmark-circle2 position-left text-success"></i> <span class="text-light">10 TB of storage</span>
								</h6>
								<h6>
									<i class=" icon-checkmark-circle2 position-left text-success"></i> <span class="text-semibold">Everything in 2 TB Plan</span>
								</h6>
								<h6>
									<i class=" icon-checkmark-circle2 position-left text-success"></i> <span class="text-light">Unlimited Files</span>
								</h6>
								<h6>
									<i class=" icon-checkmark-circle2 position-left text-success"></i> <span class="text-light">Unlimited Memories</span>
								</h6>
								<h6>
									<i class=" icon-checkmark-circle2 position-left text-success"></i> <span class="text-light">Unlimited Creativity!</span>
								</h6>
								<h6>
									<i class=" icon-checkmark-circle2 position-left text-success"></i> <span class="text-light">Community Support</span>
								</h6>
								<h6>
									<i class=" icon-checkmark-circle2 position-left text-success"></i> <span class="text-light">Unmetered Bandwidth</span>
								</h6>
								<h6>
									<i class=" icon-checkmark-circle2 position-left text-success"></i> <span class="text-light">24/7 Telephone Support</span>
								</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="partials"></div>
<div class="clearall"></div>
{% endblock content %}