{% extends "base_storage.html" %}
{% block content %}
{% load format_size %}
			<div class="page-header-content">
				<div class="page-title">
					<h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Dashboard</span></h4>

					<ul class="breadcrumb breadcrumb-caret position-right">
						<li><a href="/dashboard/">Blomp</a></li>
						<li class="active"><a href="#">Dashboard</a></li>
					</ul>
				</div>
			</div>
			<div class="panel panel-flat border-left-xlg border-left-warning">
				<div class="panel-heading">
					<h5 class="panel-title"><span class="text-semibold">Info</span></h5>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-3">
							<ul class="list-inline no-margin-bottom">
								<li><a href="#" class="btn border-primary text-primary btn-flat btn-rounded btn-icon"><i class="icon-list3"></i></a></li>
								<li><h4>Plan: {{ billing.plan | title }}</h4></li>
							</ul>
							<ul class="list-inline no-margin-bottom">
								<li><a href="#" class="btn border-primary text-primary btn-flat btn-rounded btn-icon"><i class="icon-database"></i></a></li>
								<li><h4>Storage Capacity: {{ plan.0 }} GB</h4></li>
							</ul>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3">
							<ul class="list-inline no-margin-bottom">
								<li><a href="#" class="btn border-primary text-primary btn-flat btn-rounded btn-icon"><i class="icon-cloud-upload2"></i></a></li>
								<li><h4>Used Storage: {% format_size usedStorage %} </h4></li>
							</ul>
							<ul class="list-inline no-margin-bottom">
								<li><a href="#" class="btn border-primary text-primary btn-flat btn-rounded btn-icon"><i class="icon-file-upload2"></i></a></li>
								<li><h4>Files & Folders: {{ totalFiles }} </h4></li>
							</ul>
						</div>
						{%if billing.plan != 'basic' %}
						<div class="col-lg-4 col-md-4 col-sm-4">
							<ul class="list-inline no-margin-bottom">
								<li><a href="#" class="btn border-primary text-primary btn-flat btn-rounded btn-icon"><i class="icon-cart-add"></i></a></li>
								<li><h4>Last Payment: {{ paidon }} </h4></li>
							</ul>
							<ul class="list-inline no-margin-bottom">
								<li><a href="#" class="btn border-primary text-primary btn-flat btn-rounded btn-icon"><i class="icon-calculator2"></i></a></li>
								<li><h4>Subscription until: {{ expireDate }} </h4></li>
							</ul>
						</div>
						{% else %}
						<div class="col-lg-4 col-md-4 col-sm-4">
							<ul class="list-inline no-margin-bottom">
								<li><a href="#" class="btn border-primary text-primary btn-flat btn-rounded btn-icon"><i class="icon-cart-add"></i></a></li>
								<li><h4>Account Created: {{ registered }} </h4></li>
							</ul>
							<ul class="list-inline no-margin-bottom">
								<li><a href="#" class="btn border-primary text-primary btn-flat btn-rounded btn-icon"><i class="icon-calculator2"></i></a></li>
								<li><h4>Subscription: Unlimited </h4></li>
							</ul>
						</div>
						{% endif %}
						<div class="col-lg-2 col-md-2 col-sm-2">
							<div class="btn-group">
								{% if billing.plan != '10 TB' %}
									<a href="/dashboard/billing" class="btn bg-green-800 btn-xlg btn-rounded"><i class="icon-plus-circle2"></i> Upgrade Plan</a>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="clearall"></div>
			<div class="panel panel-flat border-left-xlg border-left-warning">
				<div class="panel-heading">
					<h5 class="panel-title"><span class="text-semibold">Use Blomp on Windows, Mac and Linux!</span></h5>
				</div>
				<div class="panel-body">
					<h5 class="no-margin">
	                    <span class="text-light">Download BlompLive today!</span>
                    </h5>
					<div class="row">
						<div class="col-sm-4 col-md-4">
		                    <div class="clearall"></div>
		                    <a href="/dashboard/download/blomplive-win" class="btn btn-primary btn-xlg btn-rounded"><i class="icon-file-download2"></i> BlompLive for Windows</a>
		                    <div class="clearall"></div>
		                </div>
		                <div class="col-sm-4 col-md-4">
		                    <div class="clearall"></div>
		                    <a href="/dashboard/download/blomplive-mac" class="btn btn-primary btn-xlg btn-rounded"><i class="icon-file-download2"></i> BlompLive for Mac</a>
		                    <div class="clearall"></div>
		                </div>
		                <div class="col-sm-4 col-md-4">
		                    <div class="clearall"></div>
		                    <a href="/dashboard/download/blomplive-linux" class="btn btn-primary btn-xlg btn-rounded"><i class="icon-file-download2"></i> BlompLive for Linux</a>
		                    <div class="clearall"></div>
		                </div>
		            </div>
		        </div>
			</div>
			<div class="clearall"></div>
			<div class="panel panel-flat border-left-xlg border-left-warning">
				<div class="panel-heading">
					<h5 class="panel-title"><span class="text-semibold">Get Your Z: drive now!</span></h5>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-6 col-md-6">
							<h5 class="no-margin">
			                    <span class="text-light">Download BlompGo for Windows 8 and 10: </span>
		                    </h5>

		                    <div class="clearall"></div>
		                    <a href="/dashboard/download/blompgo-win10" class="btn btn-primary btn-xlg btn-rounded"><i class="icon-file-download2"></i> BlompGo Windows 10</a>
		                    <div class="clearall"></div>
		                </div>
		                <div class="col-sm-6 col-md-6">
							<h5 class="no-margin">
			                    <span class="text-light">Download BlompGo for Windows 7 64 bit: </span>
		                    </h5>

		                    <div class="clearall"></div>
		                    <a href="/dashboard/download/blompgo-win7" class="btn btn-primary btn-xlg btn-rounded"><i class="icon-file-download2"></i> BlompGo Windows 7</a>
		                    <div class="clearall"></div>
		                </div>
		            </div>
		        </div>
			</div>
			<div class="partials"></div>
<div class="clearall"></div>
{% endblock content %}