{% extends "base_storage.html" %}
{% block content %}
			<div class="page-header-content">
				<div class="page-title">
					<h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Dashboard</span></h4>

					<ul class="breadcrumb breadcrumb-caret position-right">
						<li><a href="/dashboard/">Blomp</a></li>
						<li class="active"><a href="#">Documentation</a></li>
					</ul>
				</div>
			</div>


<div class="clearall"></div>
{% endblock content %}