{% extends "base_storage.html" %}
{% block content %}
			<div class="page-header-content">
				<div class="page-title">
					<h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Invites</span></h4>

					<ul class="breadcrumb breadcrumb-caret position-right">
						<li><a href="/dashboard/">Blomp</a></li>
						<li class="active"><a href="#">Invites</a></li>
					</ul>
				</div>
			</div>
			<div class="panel panel-flat border-left-xlg border-left-info">
				<div class="panel-heading">
					<h5 class="panel-title"><span class="text-semibold">Invite friends to Blomp</span></h5>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-5 col-md-5 col-sm-5">
							<h5 class="no-margin text-light">You can earn 200 GB of space by inviting your friends to try out Blomp!</h5><h5 class="no-margin text-light"> Invite up to 9 friends and get 20 GB of storage with every verified account.</h5>
							<div class="clearall"></div>
							{% if messages %}
					            {% for message in messages %}
					            <div class="alert alert-danger" role="alert">
					              {{ message }}
					            </div>
					            {% endfor %}
					        {% endif %}
							{% if invite_number < 9%}
									{% for field in form %}
									<div class="form-group">
										<label>Enter email addresses below. Press enter after entering each email.</label>
										{{ field }}
									</div>
									{% endfor %}
									<div class="text-left">
										<button type="submit" class="btn btn-primary btn-ladda btn-ladda-spinner send-invites" data-style="expand-right" data-spinner-color="#fff" data-spinner-size="20">Send Invites <i class="icon-arrow-right14 position-right"></i></button>
									</div>
							{% elif invite_number >= 9 %}
								<h5 class="no-margin text-light">You have used all 9 available invitations.</h5>
							{% endif %}
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1"></div>
							<div class="col-lg-5 col-md-5 col-sm-5">
								<h5 class="no-margin text-light">My Invites ({{invite_number}}/9):</h5>
									<div class="clearall"></div>
									<ul class="list margin-bottom">
										{% for e in emails %}
										<li>{{e.invite_email}} - {% if e.confirmed %}<span class="label label-success">VERIFIED</span>{% else %}<span class="label label-danger">NOT VERIFIED</span>{% endif %}</li>
										{% endfor %}
									</ul>
							</div>
						</div>
					<div class="clearall"></div>
				</div>
			</div>
{% endblock content %}