{% extends "base_storage.html" %}
{% block content %}
            <div class="page-header-content">
                <div class="page-title">
                    <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Notifications</span></h4>

                    <ul class="breadcrumb breadcrumb-caret position-right">
                        <li><a href="/dashboard/">Blomp</a></li>
                        <li class="active"><a href="#">Notifications</a></li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-flat border-left-xlg border-left-info">
                <div class="panel-heading">
                    <h5 class="panel-title"><span class="text-semibold">Notifications</span></h5>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2"></div>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="panel-body text-center">
                                <div class="panel-group panel-group-control content-group-lg text-left">
                                    {% for n in notify %}
                                        <div class="panel panel-white">
                                            <div class="panel-heading">
                                                <h6 class="panel-title">
                                                    <a class="collapsed" data-toggle="collapse" href="#notification-{{n.id}}">{{n.title}}</a>
                                                </h6>
                                                <div class="heading-elements">
                                                    <ul class="icons-list">
                                                        <li class="text-primary"><a href="/dashboard/notifications/read/{{ n.id }}"> View</a></li>
                                                        <li> | </li>
                                                        <li>Date: {{ n.date_time }} </li>

                                                    </ul>
                                                </div>
                                            </div>
                                            <div id="notification-{{n.id}}" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    {{ n.message | safe | truncatechars:200 }}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <ul class="pagination pagination-separated">
                                    {% if notify.has_previous %}
                                       <li><a href="?page=1">&laquo; first</a></li>
                                       <li><a href="?page={{ notify.previous_page_number }}">previous</a></li>
                                    {% endif %}

                                    <span class="current">
                                        Page {{ notify.number }} of {{ notify.paginator.num_pages }}.
                                    </span>

                                    {% if notify.has_next %}
                                        <li><a href="?page={{ notify.next_page_number }}">next</a></li>
                                        <li><a href="?page={{ notify.paginator.num_pages }}">last &raquo;</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    <div class="col-lg-2 col-md-26 col-sm-2"></div>
                </div>

            </div>
<div class="clearall"></div>
{% endblock content %}