{% extends "base_storage.html" %}
{% load static %}
{% block custom_js %}
    <script type="text/javascript" src="{% static 'assets/cloud/js/plugins/forms/styling/uniform.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/cloud/js/pages/form_inputs.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/cloud/js/pages/components_loaders.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/cloud/js/pages/components_modals.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/cloud/js/plugins/notifications/jgrowl.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/cloud/js/plugins/uploaders/dropzone.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/cloud/js/pages/uploader.js' %}"></script>
{% endblock %}
{% block content %}
            <div class="page-header-content">
                <div class="page-title">
                    <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">My Files</span></h4>

                    <ul class="breadcrumb breadcrumb-caret position-right">
                        <li><a href="/dashboard/">Blomp</a></li>
                        <li class="active"><a href="#">My Files</a></li>
                    </ul>
                </div>
            </div>

            <div class="panel panel-flat border-left-xlg border-left-info">
                <div class="panel-body">
                    <h5>My Files :
                    <a href="/dashboard/files/"><i class=" icon-home2">/</i></a>
                    {% for i in folder %}
                        {{ i | safe }}
                    {% endfor %}
                    </h5>
                    <div class="clearall"></div>
                    {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-{{ message.tags | lower }}" role="alert">
                          {{ message }}
                        </div>
                        {% endfor %}
                    {% endif %}
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#create_pseudo"><i class="icon-folder-plus2"></i> Create Folder</button>
                    <button type="button" class="btn btn-success toggle-upload"><i class="icon-file-upload"></i> Upload Files</button>
                    <div class="clearall"></div>
                    <div class="show-upload" style="display:none">
                        <form action="/dashboard/storage/upload_object/" method="post" class="dropzone" id="dropzone_remove" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="text" class="hidden disabled" value="{{ client_id }}" name="client-id" />
                            <input type="text" class="hidden disabled" value="{{ segments }}" name="pseudo-folder" />
                        </form>
                    </div>
                    <div class="clearall"></div>
                    {% load render_table from django_tables2 %}
                    {% render_table table "dashboard/tables/objects.html" %}
                    <div class="text-center">
                        <ul class="pagination pagination-separated">
                            {% if page_num|length > 0 %}
                                {% if segments != '/' %}
                                    {% for p in page_num %}
                                        {% if current_page == 0 %}
                                            {% if p == 1 %}
                                                <li class="active"><a href="/dashboard/files/{{segments}}">1</a></li>
                                            {% else %}
                                                <li><a href="/dashboard/files/{{segments}}?page={{p}}">{{p}}</a></li>
                                            {% endif %}
                                        {% elif current_page != 1 and current_page == p  %}
                                            <li class="active"><a href="/dashboard/files/{{segments}}?page={{p}}">{{p}}</a></li>
                                        {% else %}
                                            <li><a href="/dashboard/files/{{segments}}?page={{p}}">{{p}}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    {% for p in page_num %}
                                        {% if current_page == 0 %}
                                            {% if p == 1 %}
                                                <li class="active"><a href="/dashboard/files">1</a></li>
                                            {% else %}
                                                <li><a href="/dashboard/files?page={{p}}">{{p}}</a></li>
                                            {% endif %}
                                        {% elif current_page != 1 and current_page == p %}
                                            <li class="active"><a href="/dashboard/files?page={{p}}">{{p}}</a></li>
                                        {% else %}
                                            <li><a href="/dashboard/files?page={{p}}">{{p}}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <div id="create_pseudo" class="modal fade in" style="margin-top:15%">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">×</button>
                                <h5 class="modal-title">Create Folder</h5>
                            </div>

                            <div class="modal-body">
                                <form action="/dashboard/storage/create_folder/" method="post">
                                    <input type="text" class="hidden disabled" value="{{ segments }}" name="pseudo-folder" />
                                    <div class="form-group">
                                        <label>Folder Name:</label>
                                            <input type="text" class="form-control" name="folder_name" />
                                    </div>
                                    <div class="clearall"></div>
                                    <button type="submit" class="btn btn-primary" id="spinner-light-3">Create</button>
                                </form>
                            </div>
                        </div>
                </div>
            </div>
<div class="clearall"></div>
{% endblock content %}