{% extends "base_storage.html" %}
{% block content %}
{% load format_size %}
			<div class="page-header-content">
				<div class="page-title">
					<h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Dashboard</span></h4>

					<ul class="breadcrumb breadcrumb-caret position-right">
						<li><a href="/dashboard/">Blomp</a></li>
						<li class="active"><a href="#">Profile</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-7 col-md-7 col-lg-7">
					<div class="panel panel-flat border-left-xlg border-left-info">
						<div class="panel-heading">
							<h5 class="panel-title"><span class="text-light">My profile</span></h5>
							<div class="heading-elements">
								<div class="btn-group heading-btn">
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Options <span class="caret"></span></button>
									<ul class="dropdown-menu dropdown-menu-right">
										<li><a data-toggle="modal" data-target="#change_password">Change Password</a></li>
										<li><a data-toggle="modal" data-target="#add_information">Add or edit your information</a></li>
										<li><a href="/dashboard/billing">Upgrade Plan</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="panel-body">
							<div class="list-group no-border no-padding-top">
								<a class="list-group-item"><h5 class="text-light">Name:: {{ client.name }}</h5></a>
								<a class="list-group-item"><h5 class="text-light">E-mail: {{ client.email }} </h5></a>
								<a class="list-group-item"><h5 class="text-light">Support Forum Username: {{ forum_username }} </h5></a>
								<a class="list-group-item">
									{% if client.company is None %}
										<h5 class="text-light">Company: None Added</h5>
									{% else %}
										<h5 class="text-light">Company: {{ client.company }}</h5>
									{% endif %}
								</a>
								<a class="list-group-item">
									{% if client.address is None %}
										<h5 class="text-light">Address: None Added</h5>
									{% else %}
										<h5 class="text-light">Address: {{ client.address }}</h5>
									{% endif %}
								</a>
								<a class="list-group-item">
									{% if client.phone is None %}
										<h5 class="text-light">Phone Number: None Added</h5>
									{% else %}
										<h5 class="text-light">Phone Number: {{ client.phone }}</h5>
									{% endif %}
								</a>

							</div>


						</div>
					</div>
				</div>
				<div class="col-sm-5 col-md-5 col-lg-5">
					<div class="panel panel-flat border-left-xlg border-left-info">
						<div class="panel-heading">
							<h5 class="panel-title"><span class="text-light">My storage</span></h5>
						</div>
						<div class="panel-body">
							<div class="list-group no-border no-padding-top">
								<a class="list-group-item"><h5 class="text-light"><i class="icon-list3"></i> Plan: {{ billing.plan|title }}</h5></a>
								<a class="list-group-item"><h5 class="text-light"><i class="icon-cloud2"></i> Storage: {{ plan|filesizeformat }} </h5></a>
								<a class="list-group-item"><h5 class="text-light"><i class="icon-cloud-check2"></i> Used storage: {% format_size used %}</h5></a>
								<a class="list-group-item"><h5 class="text-light"><i class="icon-cloud-upload2"></i> Available Storage: {% format_size available %}</h5></a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="add_information" class="modal fade">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h5 class="modal-title">Add Profile Information</h5>
						</div>
							<div class="modal-body">
								<form class="form-horizontal">

									<div class="form-group">
										<label class="control-label col-sm-3">Company</label>
										<div class="col-sm-9">
											{% if client.company is None %}
											<input type="text" placeholder="Company" class="form-control" name="company" id="company">
											{% else %}
											<input type="text" placeholder="Company" class="form-control" name="company" id="company" value="{{client.company}}">
											{% endif %}
										</div>
									</div>

									<div class="form-group">
										<label class="control-label col-sm-3">Address</label>
										<div class="col-sm-9">
											{% if client.address is None %}
											<input type="text" placeholder="Address" class="form-control" name="address" id="address">
											{% else %}
											<input type="text" placeholder="Address" class="form-control" name="address" id="address" value="{{client.address}}">
											{% endif %}
										</div>
									</div>

									<div class="form-group">
										<label class="control-label col-sm-3">Phone Number</label>
										<div class="col-sm-9">
											{% if client.phone is None %}
											<input type="text" placeholder="Phone Number" class="form-control" name="phone_number" id="phone-number">
											{% else %}
											<input type="text" placeholder="Phone Number" class="form-control" name="phone_number" id="phone-number" value="{{client.phone}}">
											{% endif %}
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
										<a class="btn btn-primary" id="submit-add-info">Save <i class="icon-arrow-right14 position-right"></i></a>
									</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div id="change_password" class="modal fade">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h5 class="modal-title">Change Password</h5>
						</div>
							<div class="modal-body">
								<form class="form-horizontal">
									<div class="form-group">
										<label class="control-label col-sm-3">Current Password</label>
										<div class="col-sm-9">
											<input type="password" class="form-control" name="current_password" id="current-password">
										</div>
									</div>

									<div class="form-group">
										<label class="control-label col-sm-3">New Password</label>
										<div class="col-sm-9">
											<input type="password" class="form-control" name="new_password" id="new-password">
										</div>
									</div>

									<div class="form-group">
										<label class="control-label col-sm-3">Repeat Password</label>
										<div class="col-sm-9">
											<input type="password" class="form-control" name="repeat_password" id="repeat-password">
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
										<a class="btn btn-primary" id="submit-change-password">Save <i class="icon-arrow-right14 position-right"></i></a>
									</div>
							</form>
						</div>
					</div>
				</div>
			</div>


<div class="clearall"></div>
{% endblock content %}