{% extends "base_storage.html" %}
{% block content %}
            <div class="page-header-content">
                <div class="page-title">
                    <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Promo Codes</span></h4>

                    <ul class="breadcrumb breadcrumb-caret position-right">
                        <li><a href="/dashboard/">Blomp</a></li>
                        <li class="active"><a href="#">Promo Codes</a></li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-flat border-left-xlg border-left-info">
                <div class="panel-heading">
                    <h5 class="panel-title"><span class="text-semibold">Transfer your promo files to your storage</span></h5>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-5">
                            <h5 class="no-margin text-light">Enter your promo code to transfer your files.</h5>
                            <div class="clearall"></div>
                                {% if messages %}
                                    {% for message in messages %}
                                    <div class="alert alert-danger" role="alert">
                                      {{ message }}
                                    </div>
                                    {% endfor %}
                                {% endif %}
                                <form action="/dashboard/profile/promo/transfer/" method="POST">
                                    <div class="form-group">
                                        <label>Promo code:</label>
                                        <div class="uploader">
                                            {% for field in form %}
                                                {{ field }}
                                            {% endfor %}
                                            <span class="action btn bg-blue list-files" >List Files</span>
                                        </div>
                                    </div>
                                    <div class="text-left">
                                        <button type="submit" class="btn btn-primary" >Transfer Files <i class="icon-arrow-right14 position-right"></i></button>
                                    </div>
                                </form>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1"></div>
                        <div class="col-lg-5 col-md-5 col-sm-5">
                                <h5 class="no-margin text-light show-list" style="display:none">My Files:</h5>
                                    <div class="clearall"></div>
                                    <ul class="list margin-bottom list-icons" id="promo-files">

                                    </ul>
                            </div>
                        </div>
                    <div class="clearall"></div>
                </div>
            </div>

<div class="clearall"></div>
{% endblock content %}