{% extends "base_storage.html" %}
{% block content %}
            <div class="page-header-content">
                <div class="page-title">
                    <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Notifications</span></h4>

                    <ul class="breadcrumb breadcrumb-caret position-right">
                        <li><a href="/dashboard/">Blomp</a></li>
                        <li><a href="/dashboard/notifications">Notitications</a></li>
                        <li class="active"><a href="#">View Notification</a></li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h5 class="panel-title"><span class="text-semibold">Notifications</span></h5>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2"></div>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <h5 class="text-light">{{ details.title }} </h5>
                            <div class="clearall"></div>
                                {{ details.message | safe}}
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2"></div>
                </div>

            </div>

<div class="clearall"></div>
{% endblock content %}